//---------------------------------------------
//
//  Top Banner Component
//
//    1. Imports
//    2. Component
//
//---------------------------------------------

//---------------------------------------------
// 1. Imports
//---------------------------------------------

@import "../variables";

//---------------------------------------------
// 2. Component
//---------------------------------------------

.top-banner {
    background-image: url(../images/top-banner-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 87px;

    &__inlay {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
    }

    &__cta {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h1, h2, h3, h4, h5 {
            margin-bottom: 20px;
            font-size: 42px;
            line-height: 48px;
        }

        button {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
        }
    }
}