//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
    background: $body-color;
    color: $white;
}

.brands-listing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    &__item {
        flex: 1;
    }

    &__more {
        a {
            font-size: 14px;
            font-weight: 500;
            color: $white;
            text-decoration: none;

            span {
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}

.clients-section {
    background: $darker;
}

.about-us {
    padding: 80px 0;

    &__title {
        padding: 0 25%;
        margin-bottom: 50px;

        h2 {
            font-size: 42px;
            line-height: 48px;
            font-weight: 500;
            text-align: center;

            span {
                color: $purple;
            }
        }
    }

    &__text {
        text-align: center;
        padding: 0 20%;
        margin-bottom: 60px;

        p {
            font-size: 16px;
            line-height: 22px;
            color: #B4B8BB;
            font-weight: 300;

            span {
                color: $white;
                font-weight: 500;
            }
        }
    }
}

.stats-section {
    padding: 40px 0 80px;
    background-image: url(../images/globe.png);

    &__graph {
        background: linear-gradient(327.23deg, rgba(7, 13, 27, 0.5) -3.56%, rgba(52, 74, 100, 0.381404) 75.02%, rgba(29, 64, 129, 0.0257094) 142.73%, rgba(28, 62, 129, 0.0078125) 142.74%, rgba(55, 71, 102, 0) 142.75%);
        backdrop-filter: blur(8px);
        padding: 40px;
        border-radius: 6px;

        &__text {

            h2, h3, h4, h5 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            span {
                display: block;
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 300;
                color: $white;
                opacity: 0.7;
            }

            button {
                border-color: $white;
                color: $white;
                text-transform: uppercase;

                &:hover {
                    background-color: $white;
                }
            }
        }

        &__image img {
            width: 100%;
        }
    }

    .stats-info {
        padding-left: 70px;

        &__text {
            margin-bottom: 30px;

            h3, h4, h5 {
                font-size: 22px;
                font-weight: 300;
                line-height: 34px;
    
                span {
                    display: block;
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 38px;
                }
            }
        }

        &__download {
            display: inline-flex;
            align-items: center;
            padding: 30px 70px;
            border-radius: 8px;
            border: none;
            color: $white;
            background: linear-gradient(180deg, #1B2835 0%, rgba(27, 40, 53, 0) 100%);

            &__text {
                flex: 1;

                span {
                    font-size: 28px;
                    line-height: 36px;
                    font-weight: 500;
                    color: $white;
                }
            }

            &__icon {
                margin-left: 70px;
            }
        }
    }
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/main-nav";
@import "components/top-banner";
@import "components/benefits-item";