//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
    background: $body-color;
    color: $white;
}

.brands-listing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    &__item {
        flex: 1;
    }

    &__more {
        a {
            font-size: 14px;
            font-weight: 500;
            color: $white;
            text-decoration: none;

            span {
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}

.clients-section {
    background: $darker;
}

.about-us {
    padding: 80px 0;

    &__title {
        padding: 0 25%;
        margin-bottom: 50px;

        h2 {
            font-size: 42px;
            line-height: 48px;
            font-weight: 500;
            text-align: center;

            span {
                color: $purple;
            }
        }
    }

    &__text {
        text-align: center;
        padding: 0 20%;
        margin-bottom: 50px;

        p {
            font-size: 16px;
            line-height: 22px;
            color: #B4B8BB;
            font-weight: 300;

            span {
                color: $white;
                font-weight: 500;
            }
        }
    }

    &__benefits {
        display: flex;
    }
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/main-nav";
@import "components/top-banner";
@import "components/benefits-item";